# raw Reddit files #
############
*.zst

# processed Reddit files #
############
*.csv
*.jsonl
*.sqlite

# trained models #
models/

# pycache #
code/__pycache__

# Slurm job stdout/stderr per-task logs #
slurm_logs/
